
.reset-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hide {
        display: none;
    }
    .container {
        display: inline-block;
        margin-top: 5%;
        border: 1px solid rgb(190, 190, 190);
        padding: 60px 10% 90px 10% ;
        text-align: center;
    }
    h1 {
        font-weight: 300;
        margin-bottom: 30px;
    }
    form {
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            margin: 10px 0;
            font-size: 1.5em;
            padding: 5px 15px 8px 20px;

            &:focus {
                outline: 2px solid rgb(116, 116, 116);
                outline-offset: -1px;
            }
        }
        button {
            border: 0;
            margin: 10px 0;
            height: 45px;
            color: white;
            background: rgb(55, 155, 35);
            font-size: 20px;
            border-radius: 3px;
            transition: .5s ease-out;

            &:hover {
                cursor: pointer;
                background: rgb(8, 180, 8);
            }
        }
    }
}