* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    height: 12vh;
    box-sizing: border-box;
    z-index: 9;
    
    .hidden-span {
        display: none;
    }
    .menu-lines {

        .line {
            width: 50px;
            height: 10px;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        &-items {
            text-align: center;
            
        }

        .ul-items {
            width: 33%;
            ul {
                list-style: none;
                display: flex;
        
                li {

                    i {display: none;}
                    a {
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        margin-right: 10px;
                        font-size: 1.3em;
                        padding: .5em 1em;
                        margin: 0 .5em;
                        border: 1px solid rgba(192, 192, 192, 0.5);
                        border-radius: 5px;
                        transition: .5s ease;
                        font-family: 'Questrial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }
                    ul {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        background: rgb(250, 250, 250);
                        width: 180px;
                        margin-top: 15px;
                        margin-left: 12px;
                        padding: 8px 0 4px 0;
                        text-align: left;
                        visibility: hidden;
                        opacity: 0;
                        transition: .5s ease;
    
                        li {
                            padding: 7px 10px;
                        }
                    }
                    &:hover ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        .sokna {
            width: max-content;
            padding: 3px 20px;
            box-shadow: -2px 2px 1px #13aa27c2;
            border-radius: 10px;
            a {
                font-size: 2em;
                color: rgb(68, 66, 66);
                text-decoration: none;
                span {color: rgb(55, 182, 66);}
            }
        }
        .signUp {
            width: 33%;
            .link {
                text-decoration: none;
                border: 1.5px solid rgba(163, 162, 162, 0.699);
                color: rgb(116, 124, 116);
                border-radius: 5px;
                padding: .5em 1em;
                font-size: 18px;
                transition: .5s ease-in-out;
                text-shadow: -0.5px -0.5px 0.5px rgb(1, 182, 1);

                &:hover {
                    border: 1.5px solid rgba(2, 168, 29, 0.808);
                    color: rgb(29, 209, 6);
                }
            }
        }
        .user-details {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .link {
                width: 50px;
                height: 50px;
                background: url('../../homes-img/svgs/user_detail.svg');
                background-size: cover;
                text-decoration: none;
            }
        }
    }
}


@media (max-width: 850px) {
    body.hide {
        overflow: hidden;
    }
    nav {
        height: 10vh;
        text-align: center;
        background-color: rgb(252, 252, 252);

        .hidden-span {
            display: inline-block;
            z-index: 99;
            font-size: 2.2em;
            margin-top: 3vh;
            letter-spacing: 3px;
            a {color: rgb(80, 80, 80); text-decoration: none;}
            span {color: rgb(75, 224, 88);}
        }
        .menu-lines {
            position: absolute;
            right: 3%;
            top: 2%;
            z-index: 99;
            cursor: pointer;
            
            .line {
                display: block;
                margin-top: 4px;
                width: 30px;
                height: 5px;
                background: green;
                transition: .5s ease;
                
                &.open:nth-child(1) {
                    transform: rotate(46deg) translate(5px, 9px);
                    transition: .5s ease;
                }
                &.open:nth-child(2) {
                    transform: rotate(-50deg) translate(-3px, -2px);
                    transition: .5s ease;
                }
                &.open:nth-child(3) {display: none;}
            }
        }
        .nav-links {
            position: fixed;
            z-index: 90;
            width: 100%;
            flex-direction: column;
            clip-path: circle(10px at 99% -10%);
            background-color: rgb(252, 252, 252);
            height: 100vh;
            transition: .8s ease-in-out;

            &-items {
                margin-top: 3em;
                width: 90% !important;
                font-size: 1.6em !important;
            }
            .ul-items ul {
                flex-direction: column !important;
                margin-top: 3em !important;
                li {
                    margin-top: 2.2em !important;
                    i {
                        display: inline !important;
                        font-size: 1.8em; 
                        color: rgb(0, 196, 88);
                        border-bottom: 1px solid rgb(0, 196, 88);
                        margin-left: 5px;
                        padding: 8px 10px;
                        &:hover {cursor: pointer;}
                    }
                    a {padding: .5em 1.5em !important;}
                    ul {
                        text-align: center !important;
                        position: relative !important;
                        width: 100%;
                        background: transparent !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        display: none;
                        li {padding: 5px !important; margin-top: .9em !important;}
                    }
                    &:hover ul {
                        display: flex;
                    }
                }
            }
            .sokna {
                position: absolute;
                top: -4%;
                width: 60% !important;
            }
            .signUp {
                height: 30%;
                position: absolute;
                bottom: -20%;
                .link {
                    font-size: 1.2em;
                    border: 1.5px solid rgba(7, 172, 7, 0.616) !important;
                    color: rgb(0, 141, 0);
                }
            }
        }
        .hidden-span.open {
            display: none;
        }
        .nav-links.open {
            clip-path: circle(1000px at 50% 10%) !important;
        }
    }
}

@media (max-width: 580px) {
    nav {
        .nav-links-items {
            font-size: .9em !important;
        }
    }

}
