
.register {

    .register-modal {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .register-svg {
            p {
                color: #284; 
                text-align: center;
                margin-top: 30px;
            }
            &-svg {
                background: url('../../../../homes-img/svgs/two_authentication.svg');
                background-size: contain;
                width: 200px;
                height: 130px;
            }
        }
        .register-form {
            width: 500px;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .hide {
                display: none;
            }
            h2 {
                color: rgb(180, 180, 180);
                font-size: 34px;
                font-weight: 400;
                margin-bottom: 5px;
            }
            form {
                background-color: rgb(240, 240, 240);
                padding: 30px 20px;
                border-radius: 10px;

                div {
                    height: 10vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    label {
                        color: rgb(75, 75, 75);
                        font-size: 25px;
                        padding: 0 35px 0 20px;
                        float: left;
                    }
                    input {
                        outline: none;
                        border: 1px solid rgb(240, 240, 240);
                        padding: 5px 10px;
                        font-size: 24px;
                        background-color: rgb(250, 250, 250);
                        float: right;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                    }
                    ::placeholder {
                        color: rgb(151, 151, 151);
                        font-weight: 100;
                    }
                    select {
                        float: right;
                        width: 60%;
                        height: 35px;
                        border: 1px solid rgb(204, 204, 204);
                        background-color: rgb(248, 248, 248);
                        color: rgb(75, 75, 75);
                        font-size: 16px;
                        padding: 0 10px;
                        
                    } 
                }
                button {
                    display: inline-block;
                    width: 140px;
                    height: 36px;
                    padding-bottom: 3px;
                    border: 0;
                    border-radius: 3px;
                    background: rgb(12, 156, 96);
                    color: white;
                    font-size: 20px;
                    transition: .8s ease;
                    
                    &:hover {
                        cursor: pointer;
                        background: rgb(61, 202, 115);
                    }
                }
                a {
                    border: 2px solid green;
                    text-decoration: none;
                    color: green;
                    padding: 3px 10px;
                    font-size: 18px;
                    font-weight: bold;
                }
                p {
                    color: green;
                    font-size: 20px;
                    border: 1px solid green;
                    border-radius: 3px;
                    padding: 5px 30px;
                    display: inline-block;
                }
            }
        }
        .house-svg {

            &-svg {
                background: url('../../../../homes-img/svgs/add_house.svg');
                background-size: contain;
                width: 200px;
                height: 100px;
            }
            p {
                color: #284;
                margin-bottom: 15px;
                margin-top: 15px;
                text-align: center
            }
        }
    }
    .link {
        text-align: center;
        margin: 20px 0;
        font-size: 18px;
        color: rgb(133, 133, 133);

        .link {
            color: rgb(0, 131, 22);
            font-size: 25px;
        }
    }
}

@media (max-width: 850px) {
    .register-modal {
        flex-direction: column !important;
        padding: 10px 50px !important;
    }
}

