@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.home-page {
    text-align: center;
    font-family: 'Questrial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1px;

    .head-img {
        display: inline-block;
        width: 100%;
        height: 88vh;
        background: url('../../homes-img/head-home.jpg');
        background-size: cover;

        &-text {
            display: inline-block;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 20px;
            border-radius: 0 0 10px 10px;
            background: linear-gradient(rgb(255, 255, 255), rgba(255, 252, 252, 0.4));

            h1 {
                color: rgb(116, 116, 116); 
                font-size: 2.5em;
                font-weight: 500;
            }
            h2 {
                font-weight: 300;
                color: rgb(15, 92, 19);
                text-shadow: 1px 1px 12px white;
                margin-top: 10px;
            }
        
        } 
        .search-bar {
            background-color: rgb(255, 255, 255);
            margin-top: 6em;
            height: 60px;
            border-radius: 20px;
            padding: 7px;
            display: inline-block;
            
            .search-input {
                width: 500px;
                font-size: 1.5em;
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 7px;
            }
            .search-icon {
                color: rgb(13, 206, 7);
                float: right;
                border-left: 1px solid;
                padding: 8px;
                font-size: 1.5em;
            }
        }
        
    }
}

@media (max-width: 550px) {
    .head-img-text {
        background: linear-gradient(rgb(252, 252, 252), rgba(255, 252, 252, 0.4)) !important;

        h1 {font-size: 1.6em !important;}
        h2 { font-size: 1em !important;}
    }
    .search-bar {
        height: 45px !important;
        .search-input{
            width: 270px !important;
            font-size: .8em !important;
        }
        .search-icon {
            font-size: .9em !important;
            padding: 6px !important;
        }
    }
}