@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.home-page {
    text-align: center;
    font-family: 'Questrial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2em;
}

.head-img {
    display: inline-block;
    width: 60%;
    img {
        border-radius: 10px;
    }
    h2 {
        padding: 10px;
    }
}

